$robotoFont: "Roboto", sans-serif;

$primaryColor: #3d5ee1;
$secondaryColor: #6f6f6f;
$gray1: #6b6b6b;
$gray2: #9e9e9e;
$gray3: #f7f7fa;
$gray4: #808191;

$black: #000000;
$black1: #1d1d1d;
$black2: #333333;
$black3: #2c323f;

$colorwhite: #ffffff;
$bgGray: #f7f7fa;
